<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=	, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profiles</h1>
<ul>
    {% for key, values in city_weather.items %}
    <li>{{key}}</li>
    {% endfor %}
</ul>
<h1>Welcome to the Weather App</h1>
        <form action="" method="post">
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" value="Search" id="btnSubmit">
            {%csrf_token%}
        </form>
    
</body>
</html>